
        <form action="/tambah" method="POST">
            <div class="modal-body">
                <div class="form-group">
                    <label>URL</label>
                    <input type="text" class="form-control" name="url" required>
                </div>
                <div class="form-group">
                    <label>Nama Pria</label>
                    <input type="text" class="form-control" name="nama_pria">
                </div>
                <div class="form-group">
                    <label>Nama Bapak Pria</label>
                    <input type="text" class="form-control" name="nama_bapak_pria">
                </div>
                <div class="form-group">
                    <label>Nama Ibu Pria</label>
                    <input type="text" class="form-control" name="nama_ibu_pria">
                </div>
                <div class="form-group">
                    <label>Nama Wanita</label>
                    <input type="text" class="form-control" name="nama_wanita">
                </div>
                <div class="form-group">
                    <label>Nama Bapak Wanita</label>
                    <input type="text" class="form-control" name="nama_bapak_wanita">
                </div>
                <div class="form-group">
                    <label>Nama Ibu Wanita</label>
                    <input type="text" class="form-control" name="nama_ibu_wanita">
                </div>
                <div class="form-group">
                    <label>Tanggal Akad</label>
                    <input type="text" class="form-control" name="akad_tanggal">
                </div>
                <div class="form-group">
                    <label>Waktu Akad</label>
                    <input type="text" class="form-control" name="akad_waktu">
                </div>
                <div class="form-group">
                    <label>Tempat Akad</label>
                    <input type="text" class="form-control" name="akad_tempat">
                </div>
                <div class="form-group">
                    <label>Tanggal Resepsi</label>
                    <input type="text" class="form-control" name="resepsi_tanggal">
                </div>
                <div class="form-group">
                    <label>Waktu Resepsi</label>
                    <input type="text" class="form-control" name="resepsi_waktu">
                </div>
                <div class="form-group">
                    <label>Tempat Resepsi</label>
                    <input type="text" class="form-control" name="resepsi_tempat">
                </div>
                <div class="form-group">
                    <label>Lokasi Google Maps</label>
                    <input type="text" class="form-control" name="lokasi_google_maps">
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <input type="text" class="form-control" name="status" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary">Tambah</button>
            </div>
        </form>